.course {
  /* display: flex; */
  background-color: #f8f8f8;
  /* width: 25%; */
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
  
  padding: 1rem;
  border-top-width: 8px;
  border-top-style: solid;

  border-color: #666ccc;
}
.course.categorie {
  border-top-width: 8px;
  border-top-style: solid;

  border-color: #666ccc;
}

/* .card {
  
} */